/target/*
.appsody-spring-trigger

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### Additions for project ###
site/
.DS_Store/
**/setenv.sh
**/postgresql.crt

/caches
/local.properties
.*.swp
certificates.der 
clienttruststore

src/main/resources/application-local.properties
src/main/resources/localdev-config.json

