site/
.vscode/
.DS_Store/
.settings/
**/setenv.sh
**/postgresql.crt

/caches
/local.properties
.*.swp
certificates.der 
clienttruststore

src/main/resources/application-local.properties
src/main/resources/localdev-config.json
